# Environnements virtuels
.venv/
venv/
env/

# Outputs / résultats
output/
data_not_to_git/
out_vaucluse_chahan/
output_data/
cache/
data/precision_geoguessr/

# Fichiers générés
*.png
*.pptx

# Fichiers système
.DS_Store
__pycache__/
*.pyc

# Autre
