# Environnements virtuels
.venv/
venv/
env/

# Outputs / résultats
output/
outputs/
figures/
data_test/
data/

# Fichiers générés
*.png
*.jpg
*.csv
*.jpeg
*.jpg
*.txt
*.json

# Fichiers système
.DS_Store
__pycache__/
*.pyc